<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>budget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA1CE3221F4AB990007C1070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1CE3361F4AB990007C1070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1CE3411F4AB990007C1070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
